@charset "UTF-8";
/* технічне */
html {
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 753px;
  }
}
@media screen and (max-width: 1199px) and (max-width: 752px) {
  .container {
    width: 450px;
  }
}
:root {
  --main-font: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* технічне */
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset */
/* section clients */
section .clients {
  background: #fff;
}

.clients__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 94px 0;
}

.clients__title {
  color: #212121;
  text-align: center;
  font-family: var(--main-font);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.clients__logos {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .clients__logos {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 752px) {
  .clients__logos {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.clietns__logo {
  width: 106px;
  height: 60px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clietns__logo:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

/* section clients */
/* section activity */
.activity {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__title {
  color: rgb(33, 33, 33);
  font-family: var(--main-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
}

.activity__photos {
  display: flex;
  gap: 30px;
}

.activity__photo-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.activity__photo-descr {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* section activity */
/* section features */
.features {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .features {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 752px) {
  .features {
    flex-wrap: wrap;
  }
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media screen and (max-width: 1199px) {
  .features__content {
    width: 345px;
  }
}

.features__title {
  color: rgb(33, 33, 33);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
  justify-content: center;
  align-items: start;
  margin: 30px 0 10px 0;
}

.features__descr {
  color: rgb(117, 117, 117);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
}

.features__icon {
  width: 70px;
  height: 70px;
  padding: 25px 100px;
  border-radius: 4px;
  background: #f5f4fa;
}

/* section features */
/* footer */
.footer {
  background: rgb(47, 48, 58);
  padding: 60px 0;
}

.footer__content-wrapper {
  display: flex;
  align-items: center;
  gap: 93px;
}
@media screen and (max-width: 1199px) {
  .footer__content-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 752px) {
  .footer__content-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
  }
}

.footer__content {
  display: flex;
  align-items: center;
  gap: 70px;
}
@media screen and (max-width: 752px) {
  .footer__content {
    flex-direction: column;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo__text--white {
  color: rgb(255, 255, 255);
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: start;
}

.footer__address-txt {
  color: rgb(255, 255, 255);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  width: 231px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover {
  color: rgb(255, 255, 255);
}

.footer__socmedia {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer__socmedia-title {
  color: #fff;
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer__socmedia-links {
  display: flex;
  gap: 10px;
}

.footer__icon-ellipse {
  width: 44px;
  height: 44px;
  fill: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon-ellipse:hover {
  fill: #2196f3;
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsletter__title {
  color: #fff;
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.newsletter__subscribe-box {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 752px) {
  .newsletter__subscribe-box {
    flex-direction: column;
  }
}

.newsletter__input {
  box-sizing: border-box;
  padding: 15px 0 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  width: 358px;
}
@media screen and (max-width: 752px) {
  .newsletter__input {
    width: 450px;
  }
}

.newsletter__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.newsletter__input:focus {
  outline: none;
}

.newsletter__btn {
  padding: 10px 28px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.newsletter__btn-txt {
  color: #fff;
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

/* footer */
/* header */
/* navbar */
.nav--border-bottom {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

@media screen and (max-width: 1199px) {
  .navbar {
    padding: 32px 0px;
  }
}
.icon-envelope {
  width: 16px;
  height: 12px;
  fill: rgb(117, 117, 117);
}

.icon-smartphone {
  fill: rgb(117, 117, 117);
  width: 16px;
  height: 12px;
}

.navbar__wrapper {
  display: flex;
  align-items: center;
  gap: 93px;
}

@media screen and (max-width: 1199px) {
  .navbar__wrapper {
    gap: 87px;
  }
}
.logo__text {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  text-align: left;
}

@media screen and (max-width: 1199px) {
  .logo__text {
    font-size: 24px;
    line-height: 28px;
  }
}
.logo__text--blue {
  color: rgb(33, 150, 243);
}

.logo__text--black {
  color: rgb(0, 0, 0);
}

.menu-list {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 752px) {
  .menu-list {
    display: none;
  }
}

.menu-list__link {
  color: rgb(33, 33, 33);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0;
  position: relative;
}

.menu-list__link:hover {
  color: rgb(33, 150, 243);
}

.menu-list__link::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link:hover::before {
  content: "";
  opacity: 1;
}

.menu-list__studio-link {
  color: #2196f3;
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.menu-list__studio-link::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  opacity: 1;
}

.address {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 1199px) {
  .address {
    display: block;
    gap: 0;
  }
}
@media screen and (max-width: 752px) {
  .address {
    display: none;
  }
}
.address__link {
  color: rgb(117, 117, 117);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 752px) {
  .address__link {
    display: none;
  }
}

.address__link:hover {
  color: #2196f3;
}

.address__link:hover .icon-smartphone {
  fill: #2196f3;
}

.address__link:hover .icon-envelope {
  fill: #2196f3;
}

.icon-envelope,
.icon-smartphone {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* navbar */
.header__bg {
  background-image: url(./images/Img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__title {
  color: rgb(255, 255, 255);
  font-family: var(--main-font);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
}

.header__btn {
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
  padding: 10px 32px;
  cursor: pointer;
}

.header__btn-txt {
  color: rgb(255, 255, 255);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
}

.menu_img {
  display: flex;
  justify-content: space-between;
}

/* header */
/* section header__bg */
.header__bg {
  background-image: url(./images/Img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__title {
  color: rgb(255, 255, 255);
  font-family: var(--main-font);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
}

.header__btn {
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
  padding: 10px 32px;
  cursor: pointer;
}

.header__btn-txt {
  color: rgb(255, 255, 255);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
}

/* section header__bg */
/* section team-members */
.team-members {
  background: rgb(241, 244, 250);
  padding: 94px 0;
}

.team-members__title {
  color: rgb(33, 33, 33);
  font-family: var(--main-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
  margin-bottom: 50px;
}

.team-members__wrapper {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 1199px) {
  .team-members__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 752px) {
  .team-members__wrapper {
    flex-wrap: wrap;
  }
}

.team-members__team-content {
  border-radius: 0px 0px 4px 4px;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(255, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 30px;
}

.team-members__img {
  width: 270px;
  height: 260px;
}

.team-members__name-title {
  color: rgb(33, 33, 33);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
  margin: 30px 0 10px 0;
}

.team-members__descr {
  color: rgb(117, 117, 117);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
  margin: 10px 0 16px 0;
}

.team-members__socmedia {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-members__socmedia-link {
  width: 44px;
  height: 44px;
}

.team-members__icon-ellipse {
  fill: transparent;
  width: 44px;
  height: 44px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-members__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-members__icon-ellipse:hover {
  fill: #2196f3;
}

.team-members__icon-ellipse:hover .team-members__icon {
  fill: #ffffff;
}

/* section team-members */