/* технічне */
html {
  scroll-behavior: smooth;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1199px) {
.container {
width: 753px;
}
@media screen and (max-width:752px){
.container {
  width: 450px;
 } 
}
}
:root {
  --main-font: "Roboto", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* технічне */

// 480PX